$menu_background: #262723;
$header_text: #696660;
$menu_background_selected: #070807;
$menu_hover_selected: #242321;
$menu_item: #8C8981;
$menu_item_selected: #EEEEEE;
$deep_red: #A50B09;
$dark_green: #50A654;
$menu_selected_border: #898770;
$mystery_blue: #B2162D;
$mystery_blue_light: #708489;
$background_white: #EEEEEE;
$background_header: #d1d1d1;